<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Ninjas</title>

    <body>
        {% if color == "blue" %}
            <img src="{% static 'nin/img/blue.jpg' %}"/>

        {% elif color == "red" %}
            <img src="{% static 'nin/img/red.jpg' %}"/>

        {% elif color == "orange" %}
            <img src="{% static 'nin/img/orange.jpg' %}"/>

        {% elif color == "purple" %}
            <img src="{% static 'nin/img/purple.jpg' %}"/>

        {% else %}
            <img src="{% static 'nin/img/megan.jpg' %}"/>
        {% endif %}
    </body>
</html>
