<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dojo Forms</title>
    </head>
    <body>
        <form>
            <ul>
                <li>
                    Hi
                </li>
                <li>
                    There
                </li>
                <li>
                    Test
                </li>
                <li>
                    This
                </li>
                <li>
                    form
                </li>
                <li>
                    Yeah
                </li>

            </ul>
        </form>

    </body>
</html>
