<!-- Created by Jian Zhang @ Coding Dojo, on 02/07/2017 -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dojo Survey</title>
        <!-- <link rel='stylesheet' type='text/css' href="{{ url_for("static", filename="css/dojo.css")}}" /> -->
        <!-- <script type='text/javascript' src="{{ url_for("static", filename="js/dojo.js")}}"></script> -->
        <style>
            *{
                margin:0px;
                padding:0px
            }
            #wrapper{
                margin-left: auto;
                margin-right:auto;
                margin-top: 20px;
                height: 300px;
                width: 450px;
                font-size: 25px;
                display: block;
            }
            form{
                height: 300px;
                width: 300px;
            }
        </style>
    </head>
    <body>
        <div id="wrapper">
            <form action = '/result' method='post'>
                Your Name: <input type='text' name='name' />
                Dojo Location: <select name='location' >
                      <option value="none">Select Location</option>
                      <option value="San Jose">San Jose</option>
                      <option value="Los Angeles">Los Angeles</option>
                      <option value="New York">New York</option>
                      <option value="Washington DC">Washington DC</option>
                </select>
                Favorite Language: <select name='language' >
                      <option value="none">Select Language</option>
                      <option value="Python">Python</option>
                      <option value="Java">Java</option>
                      <option value="C">C</option>
                      <option value="Ruby">Ruby</option>
                </select>
                Comment (optional) <textarea name='text' rows="4" cols="50">
                </textarea>
                <input type='submit' value='Button'>
            </form>
            <div>
                {% with messages = get_flashed_messages() %}
                 {% if messages %}
                   {% for message in messages %}
                     <p>{{message}}</p>
                   {% endfor %}
                 {% endif %}
                {% endwith %}
            </div>
        </div>

    </body>
</html>
