<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>New Product Page</title>
    </head>
    <body>
        <h2>Add A New Product</h2>
        <form action='{% url 'products:create' %}' method='post'>
            {% csrf_token %}
            <p>Name: <input type="text" name="name" value=""></p>
            <p>Desciption: <input type="text" name="description" value=""></p>
            <p>Price: <input type="text" name="price" value=""></p>
            <p><input type="submit" name="" value="Create"></p>
        </form>
        <a href='{%  url 'products:goback' %}'>Go Back</a>
    </body>
</html>
