<!-- Created by Jian Zhang @ Coding Dojo on 02/22/2017 -->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Book Review Registration and Login Page</title>
        <style>
            .errors{
                color:red;
            }
        </style>
    </head>
    <body>
        <h1>Welcome!</h1>
        <div id="reg">
            <h2>Register</h2>
            <form action='{% url 'review:register' %}' method='post'>
                {% csrf_token %}
                <p>Name: <input type='text' name='name' /></p>
                <p>Alias: <input type='text' name='alias' /></p>
                <p>Email: <input type='text' name='email' /></p>
                <p>Password: <input type='text' name='password' /></p>
                <p>Password should be at least 8 characters</p>
                <p>Confirm PW: <input type='text' name='confirm' /></p>
                <p><input type='submit' value='Register' /></p>
            </form>
        </div>
        <div class='errors'>
            {{request.session.alert|safe}}
        </div>
        <br />
        <div id="log">
            <h2>Login</h2>
            <form action='{% url 'review:login' %}' method='post'></p>
                {% csrf_token %}
                <p>Email: <input type='text' name='log_email' /></p>
                <p>Password: <input type='text' name='log_password' /></p>
                <p><input type='submit' value='Login' /></p>
            </form>
            <br />
            <div class="errors">
                {{request.session.fail}}
            </div>
        </div>

    </body>
</html>
