<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Email Validation with DB</title>
    </head>
    <style>
        #error{
            height: 20px;
            width:300px;
            color: white;
            background-color: red;
            display: none;
            {{session['display']|safe}}
        }
    </style>

    <body>
        <div id="error">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  {{message}}
                {% endfor %}
              {% endif %}
            {% endwith %}
        </div>
        <form action = '/success' method='POST'>
            Email Address: <input type='text' name='email' id='email_input' />
            <input type = 'submit' name = 'Submit' />
        </form>
    </body>
</html>
